// Zcomus / Ecom Home-2 inspired tokens
$primary   : #FD9636; // Ecom brand-2
$secondary : #425A8B;
$accent    : #0BA9ED;

$dark      : #0E224D;
$dark-page : #0E224D;

$positive  : #5BC694;
$negative  : #F53658;
$info      : #27B3D2;
$warning   : #FFB067;

// Custom (available in app SCSS)
$brand-1: #0BA9ED;
$brand-2: #FD9636;
$brand-3: #425A8B;
$brand-4: #D36B0B;
$gray-50: #F0F3F8;
$gray-100: #DDE4F0;
$gray-200: #CAD6EC;
$gray-500: #8C9EC5;
$gray-900: #425A8B;
$gray-1000: #0E224D;
$font-body: 'DM Sans', sans-serif;
$font-display: 'Kanit', sans-serif;
